@use "styles/variables" as *;
@use "styles/navbar";
@use "styles/canvas";

body {
    background-color: $background-color;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: clamp(1rem, 5vw, 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

